Create New Project

<form action="/project/new" method="post">
    <label for="projectName">Project Name</label>
    <input type="text" name="projectName">
    <label for="fileHTML">HTML File</label>
    <input type="text" name="fileHTML">
    <label for="fileCSS">CSS File</label>
    <input type="text" name="fileCSS">
    <label for="fileCSS">JS File</label>
    <input type="text" name="fileJS">
    <button type="submit">Submit</button>
</form>
