Create New Project

<form action="/project/new" method="post" enctype="multipart/form-data">
    <label class="code-label" for="projectName">Project Name</label>
    <input class="code-input" type="text" name="projectName">
    <label class="code-label" for="fileHTML">HTML File</label>
    <input class="code-input" type="file" name="fileHTML">
    <label class="code-label" for="fileCSS">CSS File</label>
    <input class="code-input" type="file" name="fileCSS">
    <label class="code-label" for="fileCSS">JS File</label>
    <input class="code-input" type="file" name="fileJS">
    <button class="code-btn" type="submit">Submit</button>
</form>
