<button type="submit" id="get-code">Get Code</button>
<div class="input-holder">
  <div class="pen-input">
      <h3>HTML</h3>
      <textarea class="pen-box" id="pen-HTML" name="penHTML"></textarea>
  </div>
  <div class="pen-input">
      <h3>CSS</h3>
      <textarea class="pen-box" id="pen-CSS" name="penCSS"></textarea>
  </div>
  <div class="pen-input">
      <h3>JS</h3>
      <textarea class="pen-box" id="pen-JS" name="penJS"></textarea>
  </div>
</div>

<iframe id="results-frame"></iframe> 
<div id="results-box"></div></form>
