
<div>

  <ul class="project-info">
    <li>Project Name: <%= project.projectName %></li>
    <li>User: <a href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a></li>
    <li>HTML File</li>
    <li>CSS File</li>
    <li>JS FILE</li>
  </ul>
  <button type="submit" class="get-pen"></button>
</div>
<div class="project-canvas">

</div>
