
<div>

  <ul class="project-info">
    <li>Project Name: <%= project.projectName %></li>
    <li>Project ID: <%= project._id </li>
    <li>User: <a href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a></li>
    <li>HTML File</li>
    <li>CSS File</li>
    <li>JS FILE</li>
  </ul>
  <form action="/save" method="post">
      <button type="submit">Save</button>
  </form>
  <form action="/publish" method="post">
    <button type="submit">Publish</button>
  </form>
<iframe class="results-frame">

</iframe>
