<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Code Sharing Application</title>
</head>
<body>
<div id="main-overlay">
</div>
<div class="navbar">
    <div class="home-box">
        <a href="/" class="navbar-btn">Home</a>
    </div>

    <ul class="navbar-list">
        <li>
            <% if (userSignedIn) { %>
            <a href="/profile/myprofile" class="navbar-btn lg-navbar">My Profile</a>
            <% } %>
        </li>
        <% if (!userSignedIn) { %>
            <li class="login-btn">
                <a href="/login" class="navbar-btn lg-navbar">Log In</a>
            </li>
        <% } else { %>
            <li class="logout-btn">
                <a href="/logout" class="navbar-btn lg-navbar">Log-out</a>
            </li>
        <% } %>
    </ul>
    </div>
</div>

<div class="main-content">
<%- body -%>
<div>
  <script>
      var lines = [];

    function Line() {
    	this.xoffStart = random(0, 10000);
    	this.xoff1 = this.xoffStart;
    	this.xoff2 = this.xoffStart;
    	this.inc1 = random(0.001, 0.009);
    	this.inc2 = 0.001;

    	this.reset = function() {
    		this.xoff1 = this.xoffStart;
    		this.xoff2 += this.inc2;
    	};
    }

    function init() {
    	noiseSeed(random(0, 10000));

    	lines = [];

    	for (var i = 0; i < random(20, 30); i++) {
    		lines.push(new Line());
    	}
    }

    function setup() {
    	createCanvas(windowWidth, windowHeight);

    	init();

    	noFill();
    	stroke(255);
    	strokeWeight(4);
    }

    function mousePressed() {
    	init();
    }

    function draw() {
    	background(0);

    	lines.forEach(function(line, lineIndex) {
    		beginShape();
    		for (var x = width / 15; x < width - width / 15; x += 3) {
    			var y =
    				noise(line.xoff1 + line.xoff2, line.xoff1) * 200 +
    				height / 2 - 100 + sin(line.xoff1);
    			curveVertex(x, y);

    			line.xoff1 += line.inc1;
    		}
    		endShape();

    		line.reset();
    	});
    }

  </script>

</div>
</div>

<div class="footer">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.sound.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
</body>
</html>
