<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Code Sharing Application</title>
</head>
<body>
<div id="main-overlay">
</div>
<div class="navbar">
    <div class="home-box">
        <a href="/">Home</a>
    </div>
    <ul class="navbar-list">
        <li>
            <a href="/admin">Admin Panel</a>
        </li>
        <li>
            <% if (userSignedIn) { %>
                <a href="/settings">User Settings</a>
            <% } %>
        </li>
        <li>
            <% if (userSignedIn) { %>
            <a href="/profile/myprofile">My Profile</a>
            <% } %>
        </li>
        <li>
            <% if (userSignedIn) { %>
            <a href="/project/new">Create Project</a>
            <% } %>
        </li>
        <% if (!userSignedIn) { %>
            <li class="log-btn login-btn">
                <a href="/login">Log In</a>
            </li>
        <% } else { %>
            <li class="log-btn logout-btn">
                <a href="/logout">Log-out</a>
            </li>
        <% } %>
    </ul>
    </div>
</div>
<div id="project-signup-box">
        <form action="/project/signup" method="POST" class="signup-form" enctype="multipart/form-data">
            <div>
                <label class="code-label" for="username">Username:</label>
                <input class="code-input" type="text" name="username">
            </div>
            <div>
                <label class="code-label" for="password">Password:</label>
                <input class="code-input" type="password" name="password">
            </div>
            <div>
                <label class="code-label" for "email">Email Address</label>
                <input class="code-input" type="email" name="email">
            </div>
            <div>
            <div class="hidden-input">
                <input id="secret-projectName" name="projectName" type="text">
                <input id="secret-projectHTML" name="projectHTML" type="text">
                <input id="secret-projectCSS" name="projectCSS" type="text">
                <input id="secret-projectJS" name="projectJS" type="text">
            </div>
                <input type="submit" value="Sign Up" id="project-signup">
            </div>
        </form>
        
    </div>
    
<div class="main-content">
<%- body -%>
</div>

<div class="footer">
    
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>