<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Code Sharing Application</title>
</head>
<body>
<div class="navbar">
    <div class="home-box">
        <a href="/">Home</a>
    </div>
    <div class="admin-box">
        <a href="/admin">Admin Panel</a>
    </div>
    <div class="settings-box">
        <% if (userSignedIn) { %>
            <a href="/settings">User Settings</a>
        <% } %>
    </div>
    
    <div class="login-box">
        <% if (!userSignedIn) { %>
        <form method="post" action="/login">
            <input type="text" name="username">
            <input type="password" name="password">
            <% if (typeof message != "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
            <button type="submit">Log In</button><br><br>
        </form>
        <% } %>
    </div>
    <div class="signup-box">
        <% if (!userSignedIn) { %>
        <form action="/signup" method="POST">
            <div>
            <label for="username">Username:</label>
            <input type="text" name="username">
            </div>
            <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
            </div>
            <div>
            <label for "email">Email Address</label>
            <input type="email" name="email">
            </div>
            <div>
            <input type="submit" value="Sign Up">
            </div>
        </form>
        <% } %>
    </div>
    
        <div class="logout">
            <% if (userSignedIn) { %>
            <a href="/logout">Log-out</a>
            <% } %>
        </div>
    
</div>

<%- body -%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>