<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Code Sharing Application</title>
</head>
<body>
<div id="main-overlay">
</div>
<div class="navbar">
    <div class="home-box">
        <a href="/" class="navbar-btn">Home</a>
    </div>
    <% if (userSignedIn) { %>
      <% if (project.userID == user._id + "") { %>
      <div class="project-info-display">
        <div id="project-name-navbar">
            <textarea id="navbar-project-name-input"><%= project.projectName %></textarea>
        </div>
        <div id="project-buttons-navbar">
            <button type="submit" id="navbar-save">Render</button>
            <button type="submit" id="navbar-publish">Publish</button>
        </div>
      </div>
      <% } %>
    <% } %>
    <ul class="navbar-list">
        <li>
            <% if (userSignedIn) { %>
            <a href="/profile/myprofile" class="navbar-btn lg-navbar">My Profile</a>
            <% } %>
        </li>
        <% if (!userSignedIn) { %>
            <li class="login-btn">
                <a href="/login" class="navbar-btn lg-navbar">Log In</a>
            </li>
        <% } else { %>
            <li class="logout-btn">
                <a href="/logout" class="navbar-btn lg-navbar">Log-out</a>
            </li>
        <% } %>
    </ul>
    </div>
</div>

<div class="main-content">
<%- body -%>
</div>

<div class="footer">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.sound.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
</body>
</html>
