<div class="login-container container">
    <div id="login-form">
        <form method="post" action="/login">
            <input class="code-input" type="text" name="username" placeholder="username">
            <input class="code-input" type="password" name="password" placeholder="password">
            <button type="submit" class="log-btn login-submit-btn">Log In</button><br><br>
            <% if (typeof message != "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
        </form>
        <h5>Not Registered? <a href="/signup" class="signup-link">Sign Up</span></h5>
    </div>
</div>