<div id="login-form">
    <form method="post" action="/login">
        <input class="code-input" type="text" name="username">
        <input class="code-input" type="password" name="password">
        <% if (typeof message != "undefined") { %>
            <div class="error-message"><%= message %></div>
        <% } %>
        <button type="submit" class="log-btn login-submit-btn">Log In</button><br><br>
    </form>
    <h5>Already Registered? <a href="/signup" class="signup-link">Sign Up</span></h5>
</div>