<div id="signup-box">
    <form action="/signup" method="POST" class="signup-form">
        <div>
            <label class="code-label" for="username">Username:</label>
            <input class="code-input" type="text" name="username">
        </div>
        <div>
            <label class="code-label" for="password">Password:</label>
            <input class="code-input" type="password" name="password">
        </div>
        <div>
            <input type="submit" id="main-signup" value="Sign Up">
        </div>
        <% if (typeof message != "undefined") { %>
            <div class="error-message"><%= message %></div>
        <% } %>
    </form>
</div>
