<div id="signup-box" class="login-container">
    <form action="/signup" method="POST" class="signup-form">
        <div>
            <input class="code-input" type="text" name="username" placeholder="username">
            <input class="code-input" type="password" name="password" placeholder="password">
        </div>
        <div>
            <input type="submit" id="signup-btn" value="Sign Up" class="log-btn">
        </div>
        <% if (typeof message != "undefined") { %>
            <div class="error-message"><%= message %></div>
        <% } %>
    </form>
</div>
