body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.main-content {
  margin: auto;
  width: 90%;
  padding: 40px 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.35em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#main-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
}

/* GENERAL CLASSES */

/* Navbar Link Button */ 
.navbar-btn {
  border-radius: 15px;
  padding: 10px;
  border: 2px solid white; 
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 1px 0.5;
}

/* Delete Button */ 
.danger-btn {
  background-color: red;
}

/* Standard Input */
.code-input {
  padding: 5px;
  margin: 5px 0px;
}

/* Standard Label */
.code-label {
  font-weight: bold;
}

/* NAVBAR STYLES */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  padding: 20px;
  line-height: 50px;
}


.navbar-list li {
  display: inline;

}

#project-signup-box {
  display: none;
}

#signup-box, #project-signup-box {
  background-color: white;
  position: absolute;
  width: 250px;
  height: 200px;
  top: 40%;
  left: 40%;
  padding: 20px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  z-index: 2;
}

#project-signup-box {
  display: none;
}

#signup-box input {
  margin: 10px 0px;
}

#login-form {
  background-color: lightcyan;
  position: absolute;
  top: 90px;
  right:0%;
  padding: 10px;
}

.close-signup {
  border: 1px solid black;
  width: 10px;
}

.log-btn {
  float:right;
  margin: 0px 20px;
}

.log-btn a:link{
  text-decoration: none;
}

.log-btn:hover{
  opacity: 0.5;
}

#create-project-form{
  display: inline;
}

#create-project-btn{

  background-color: rgba(0,0,0,0);
}

/* HOME STYLES */

.projects-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-box {
  border: 1px solid black;
  width: 300px;
  margin: 50px;
}

.project-image {
  border-bottom: 1px solid black;
  height: 150px;
  width: 300px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 2px 5px;
}

/* PROJECT STYLES */

.project-canvas {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}

.hidden-input {
  display: block;
}

.pen-input {
  height: 450px;
  width: 33%
}

.pen-box {
  width: 100%;
  height: 400px;
}

.input-holder {
  display: flex;
  justify-content: space-around;
}

#results-frame {
  border: 1px solid black;
  height: 500px;
  width: 100%;
}

.hidden {
  display: none;
}


/* SETTINGS STYLES */

.settings-form {
  display: flex; 
  flex-direction: column;
}

.settings-option input{
  margin: 15px;
}

/* ADMIN STYLES */

.admin-section {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}

.create-admin {
  border: 2px solid black;
  padding: 10px;
}

.admin-list-item {
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0px;
}

/* FOOTER STYLES */

.footer {
  background-color: black;
  height: 100px;
}