* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin-top:90px;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.fooClass {
  font-family: 'Josefin Sans', sans-serif;
}

textarea {
  resize: none;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.35em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

input:focus {
  outline: none;
}

.main-content {

}

.error-message {
  margin-bottom: 10px;
  color: lightcoral;
}

/* GENERAL CLASSES */

.container {
  margin: auto;
  text-align: center;
}

/* Navbar Link Button */
.monkey-logo{
  color : red;
  z-index: 2;

}
.navbar-btn {
  padding: 32px;
  border-top: 3px solid white;
  font-size: 0.9em;
  text-decoration: none;
  opacity: 0.8;
  color: white;
  box-shadow: 1px 1px 1px 0.5;
  transition: opacity 1s, font-size 3s;
}

.navbar-btn:hover {
  opacity: 1;
  font-size: 1.25em;
}

/* Standard Button */
.log-btn {
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.9em;
  border: 2px solid white;
  text-decoration: none;
  box-shadow: 1px 1px 1px 0.5;
  background-color: rgba(0,0,0,0);
  margin: 0px 10px;
}

.log-btn:hover {
  background-color: rgba(255, 255, 200, 0.1);
}

/* Delete Button */
.danger-btn {
  background-color: red;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px 0.5;
  border: 1px solid white;
  color: white;
  width: 120px;
  transition: width 1s;
}

.danger-btn:hover{
  width: 130px;
}

/* Standard Input */
.code-input {
  padding: 5px;
}

/* Standard Label */
.code-label {
  font-weight: bold;
}

/* NAVBAR STYLES */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0.9;
  justify-content: space-between;
  height: 90px;
  background-color: black;
  line-height: 90px;
  transition: top 0.2s ease-in-out;
  position: fixed;
}

.nav-up {
  top: -90px;
}

.sl-navbar {
  color: white;
  display: none;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .lg-navbar {
    display: none;
  }

  .sl-navbar {
    display: block;
  }
}


.navbar-list li {
  display: inline;

}

#create-project-form{
  display: inline;
}

#create-project-btn{
  border: none;
  background-color: rgba(0,0,0,0);
  border-top: 3px solid white;
}

/* LOGIN/SIGNUP STYLES */

.login-container {
  border: 5px dotted white;
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  max-width: 450px;
}

#signup-box {
  text-align: center;
}

#signup-btn {
  margin: 10px;
}

/* HOME STYLES */

.banner {
  display:block;
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
  color: white;
}

.bannerBakcground{
  position:absolute;
  z-index: -1;
}

.bannerText {
  position:absolute;;
  z-index: 1;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 46%;
  opacity: 0.5;
  text-align: center;
  text-shadow: 0 0 15px #FFFFFF, 0 0 20px #FFFFFF;

  color: black;
  font-size: 2em;
}

.projects-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-box {
  width: 300px;
  margin: 20px 50px;
  transition: box-shadow 1.5s;
}

.project-box:hover {
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 1px;
}

.project-image {
  border-bottom: 1px solid black;
  height: 150px;
  width: 300px;
}

.project-info {
  border: 5px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  text-decoration: none;
  padding: 6px 6px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.search-projects {
  width: 300px;
  opacity: 0.5;
  height: 200px;
  margin-bottom: 20px;
}

.none-found {
  display: none;
  margin-bottom: 20px;
}

/* PROJECT STYLES */

.project-canvas {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}

.project-link , .project-author {
  color:red;
  text-decoration: none;
}

#results-frame {
  border: 5px solid black;
  height: 50vh;
  width: 100%;
  background-color: white;
}

.hidden {
  display: none;
}

.project-info-display {
  display: flex;
  justify-content: center;
}

#project-name-navbar {
  padding: 15px;
  display: flex;
  text
  flex-direction: column;
  justify-content: center;
}

#navbar-project-name-input {
  height: 30px;
  width: 200px;
  padding: 6px;
  transition: width 1s;
  background-color:black;
  color: white;
  border: 1px solid white;
}

#navbar-project-name-input:focus {
  width: 300px;
  border: none;
  border-bottom: 1px solid white;
}

#project-buttons-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
}

#project-buttons-navbar button {
  background-color: rgba(0,0,0,0);
  color: white;
  margin: 5px;
  box-shadow: 0;
}

#project-buttons-navbar button:hover {
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px white;
}

.edit-panel-container {
  display: flex;
  justify-content: center;
}

.edit-window-container {
  width: 100%;
}

.edit-title-box {
  width: 100%;
  color: white;
  background-color: black;
  padding: 5px 20px;
}

.edit-title-box h5 {
  margin: 0px;
}

.editor {
  height: 300px;
}

.responsive-change-btns {
  position: absolute;
  top: 95px;
  right: 0%;
  display: none;
}



@media (max-width: 800px) {
  .editor {
    height: 150px;
  }

  .lg-navbar {
    display: none;
  }

  #CSS-window-container {
    display: none;
  }

  #JS-window-container {
    display: none;
  }

  .responsive-change-btns {
    display: block;
  }



  #write-html {
    display: none;
  }

  #write-css {
    display: inline;
  }

  #write-js {
    display: inline;
  }
}

.change-editor-btn {
  background: rgba(0,0,0,0);
  color: white;
  border: 1px solid white;
}



/* SETTINGS STYLES */

.settings-title {
  margin: 20px;
}

.settings-container {
  color:white;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  border: 5px dotted white;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.settings-option input{
  margin: 0px;
  box-shadow: 1px 1px 1px 1px;
}

.settings-option input:focus{
  border: none;
  border-bottom: 1px solid black;
}

.edit-settings-btn {
  background-color: black;
  box-shadow: 1px 1px 1px 1px;
  margin: 10px 0px;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  width: 120px;
  transition: width 1s;
}

.edit-settings-btn:hover {
  width: 130px;
}

/* PROFILE STYLES */

.profile-info-wrapper {
  color:white;
  padding: 30px;
  border: 5px dotted white;
}

.profile-project-listing {
  font-size: 1.2em;
  text-decoration: none;
  margin: 5px;
}

.profile-project-listing a:hover {
  color: white;
  font-size: 1.02em;
}


/* ADMIN STYLES */

.admin-section {
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

.create-admin {
  border: 2px solid white;
  padding: 10px;
}

.admin-list-item {
  border: 1px solid white;
  padding: 10px;
  margin: 5px 0px;
}

/* FOOTER STYLES */

.footer {
  background-color: black;
  height: 100px;
}

#defaultCanvas0 {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
