body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

/* NAVBAR STYLES */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 50px;
  background-color: lightcyan;
  padding: 20px;
  line-height: 50px;
}


.navbar-list li {
  display: inline;

}

#signup-box, #login-form {
  display: none;
}

#signup-box {
  background-color: white;
  position: absolute;
  width: 250px;
  height: 200px;
  top: 40%;
  left: 40%;
  padding: 20px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

#signup-box input {
  margin: 10px 0px;
}

#login-form {
  background-color: lightcyan;
  position: absolute;
  top: 90px;
  right:0%;
}

.close-signup {
  border: 1px solid black;
  width: 10px;
}

.log-btn {
  border: 1px solid black;
  height: 50px;
  padding: 0px 10px;
  float:right;
  margin: 0px 20px;
}

.log-btn a:link{
  text-decoration: none;
}

.log-btn:hover{
  opacity: 0.5;
}

/* HOME STYLES */

.projects-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-box {
  border: 1px solid black;
  width: 250px;
  margin: 50px;
}

.project-image {
  border-bottom: 1px solid black;
  height: 150px;
  width: 250px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 2px 5px;
}