<div class="projects-display">
  <div class="project-box create-project-box">
      <div class="project-image">
      
      </div>
      <div class="project-info">
        <a href="/project/new">Create Project</a>
      </div>
  </div>
  <% projects.forEach((project) => { %>
    <% if (project.isPublic) { %>
    <div class="project-box">
        <div class="project-image">
        </div>
        <div class="project-info">
          <p>Project: <a class="project-link" href="/project/<%=project._id%>"><%= project.projectName %></a></p>
          <p>User: <a href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a></p>
        </div>
    </div>
    <% } %>
  <% }) %>
</div>
